body{
    width: 6000px;
    background-color: rgb(199, 97, 50);
}
#Puntos{
    list-style: none;
}
.Menu{
    width: 100px;
    margin:20px;
    padding:15px;
    display:block;
    float: left;
    position: relative;
    background-color: rgba(252, 158, 220, 0.514);
    bottom: 40px;
    border-style: ridge;
    border-color: black;
    text-align: center;
    left: -5px;
    font-family: Goudy Old Style;
}
#Inicio{
    width: 240px;
    
}
#Formulario_Profesores{
    width: 240px;
}

#Formulario_Cursos{
    width: 240px;
}
#Salir_del_Sistema{
    width: 240px;
}
#Formulario_Completo{
    background-color: pink;
    width: 510px;
    height: 1270px;
    position: relative;
    left: 410px;
    bottom: -90px;
    border-block-start-width: medium;
    border-style:   ridge;
    border-width: 20px;
    
}

.Titulo{
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(219, 134, 23),rgb(28, 9, 110));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#TituloId{
    height: 120px;
    position: relative;
    border-style: ridge;
    bottom: 30px;
    text-align: center;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 7px;
    block-size: 140px;
    border-color: rgb(238, 129, 27) ;

}

#BotonRegistrar{
    position: relative;
    bottom: -990px;
    left: 62%;
    height: 4%;
    background-color: rgb(45, 168, 28);
    text-align: center;
    border-style: ridge;
    font-size: 19px;
    font-family: 'Gill Sans', Gill Sans MT, 'Calibri', 'Trebuchet MS', sans-serif;
    color:white ;
}

#Formulario_Estudiante{
    background-color:rgb(255, 226, 146) ;
    width: 70%;
    text-align: left;
    position: relative;
    left: 15%;
    bottom: 90px;
    border-block-start-width: medium;
    border-style:   ridge;
    font-family: Microsoft YaHei UI;
    border-color: chocolate;
    
}
#Nombre_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Nombretxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Apellido1_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Apellido1txt{
    width: 90%;
    position: relative;
    left: 1%
}

#Apellido2_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Apellido2txt{
    width: 90%;
    position: relative;
    left: 1%
}

#Curso_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}

#CursoCombobox{
    width: 50%;
    position: relative;
    left: 1%
    }

#Cedula_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Cedulatxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Telefono_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Telefonotxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Correoelectronico_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Correotxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Direccion_del_Estudiante{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Direcciontxt{
    width: 90%;
    position: relative;
    left: 1%
}
#Informacion{
    position: relative; 
    top: -80px;
    text-align: justify;
}
