/**********************************************************/
/*Se inicia trabajo en la pagina cursos*/
body {
    height: 1000px;

}

h1 {
    padding-top: 1rem;
}

#Formulario_Completo {
    width : 100%;
    height: 85%;
}

#Formulario_Curso {
    height         : 90%;
    display        : grid;
    justify-content: center;
    text-align     : center;
    align-items    : center;
}

#Formulario_Curso input {
    width      : 20rem;
    padding-top: 0.5rem;
}

#Formulario_Curso select {

    padding-top: 0.5rem;
}




p {
    text-align  : justify;
    margin-left : 30%;
    margin-right: 30%;
}

/********************************************************/