#ELProfesores{
    width: 100%;
    height: 1100px;
}

#ELEstudiantes{
    width: 100%;
    height: 1000px;
}


#MfEstudiante{
    width: 100%;
    height: 1000px;
}

#MfProfesores{
    width: 100%;
    height: 1000px;
}