body{
    width: 6000px;
    background-color: rgb(119, 65, 65);
}
#Puntos{
    list-style: none;
}
.Menu{
    width: 100px;
    margin:20px;
    padding:15px;
    display:block;
    float: left;
    position: relative;
    background-color: rgba(252, 235, 158, 0.514);
    bottom: 40px;
    border-style: ridge;
    border-color: black;
    text-align: center;
    left: -5px;
    font-family: Goudy Old Style;
    
}
#Inicio{
    width: 240px;
    
}
#Formulario_Profesores{
    width: 240px;
    position: relative;

    
    
}

#Formulario_Estudiantes{
    width: 240px;
}
#Salir_del_Sistema{
    width: 240px;
}
#Formulario_Completo{
    background-color: rgb(245, 175, 135);
    width: 500px;
    height: 1020px;
    position: relative;
    left: 410px;
    bottom: -90px;
    border-block-start-width: medium;
    border-style:   ridge;
    border-width: 20px;
    
}

.Titulo{
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(219, 23, 23),rgb(110, 54, 9));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#TituloId{
    height: 120px;
    position: relative;
    border-style: ridge;
    bottom: 30px;
    text-align: center;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 7px;
    block-size: 140px;
    border-color: rgb(238, 129, 27) ;

}

#BotonRegistrar{
    position: relative;
    bottom: -750px;
    left: 290px;
    height: 40px;
    background-color: rgb(45, 168, 28);
    text-align: center;
    border-style: ridge;
    font-size: 19px;
    font-family: 'Gill Sans', Gill Sans MT, 'Calibri', 'Trebuchet MS', sans-serif;
    color:white ;
}

#Formulario_Curso{
    background-color:rgb(255, 226, 146) ;
    width: 70%;
    text-align: left;
    position: relative;
    left: 15%;
    bottom: 90px;
    border-block-start-width: medium;
    border-style:   ridge;
    font-family: Microsoft YaHei UI;
    border-color: chocolate;
    
}
#Codigo_del_Curso{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Codigotxt{
    width: 90%;
    position: relative;
    left: 1%
}
#Nombre_del_Curso{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Nombretxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Cedula_del_Profesor{
    position: relative;
    right: 5%;
    margin: 25px;
}
#Profesortxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Maximo_de_Cupos{
    position: relative;
    right: 5%;
    margin: 25px;
}

#NumeroMaxCupostxt{
    width: 90%;
    position: relative;
    left: 1%
}

#Minimo_de_Cupos{
    position: relative;
    right: 5%;
    margin: 25px;
}
#NumeroMinCupostxt{
    width: 90%;
    position: relative;
    left: 1%
}
#Dia_de_Clase{
    position: relative;
    right: 5%;
    margin: 25px;
}

#DiaCombobox{
    width: 50%;
    position: relative;
    left: 1%
    }

#Horario_del_Curso{
    position: relative;
    right: 5%;
    margin: 25px;
}
#HorarioCombobox{
    width: 50%;
    position: relative;
    left: -2%;
    margin: 15px;
    }

#Informacion{
    position: relative; 
    top: -80px;
    text-align: justify;
}
